{% include 'events/base.html'%}
{% block content %}
<center>
<h1>project</h1> 
<div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">project_id</th>
                    <th scope="col">project_name</th>
                    <th scope="col">created_at</th>
                    <th scope="col">created_by</th>
                    <th scope="col">client</th>
                    <th scope="col">user</th>
                    
                </tr>
            </thead>
            <tbody>
   
{% for project in form %}
<tr>
<td>{{project.project_id}}</td>
<td>{{project.project_name}}</td>
<td>{{project.created_at}}</td>
<td>{{project.created_by}}</td>
<td>{{project.cilent}}</td>
<td>{{project.user}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</center>
{% endblock %}
